*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;
}
body{
    background-color:  #d4ddee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 400px; */
    /* height: 400px; */
}
img{
    height: 3rem;
    width: 3rem;
    
}
.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 50%;
}
.orkut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 50%;
}
.direita{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login{
    padding: 3rem ;
    background-color: #E8EEFA;
}
.cadastro{
    padding: 3rem;
    background-color: #E8EEFA;
}
footer{
    padding: 1rem;
    background-color: #bccde9;
}